[Unit]
Description=Digital Signage Server Service
After=network.target

[Service]
ExecStart=/home/pi/.nvm/versions/node/v14.20.0/bin/node /home/pi/DigitalSignageServer/index.js
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
