[Unit]
Description=Digital Signage Server Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/rock/.nvm/versions/node/v14.19.1/bin/node /home/rock/DigitalSignageServer/index.js
StandardOutput=inherit
StandardError=inherit
Restart=always
User=rock

[Install]
WantedBy=multi-user.target
