[Unit]
Description=Digital Signage Server Service
After=network.target

[Service]
ExecStart=/usr/bin/node /var/local/DigitalSignageServer/index.js
Restart=on-failure
User=root
Type=simple

[Install]
WantedBy=multi-user.target
